<form name="input" action="/names" method="post">
  Fighter 1:<input type="text" name=name1>
    <img style="img-align: center" src="https://previews.123rf.com/images/zoaarts/zoaarts1901/zoaarts190100012/114559828-vector-illustration-versus-screen-vs-fight-background-for-battle-competition-and-game-red-vs-blue-fi.jpg">
  Fighter 2:<input type="text" name=name2>
  <input type="submit" value="BEGIN">
</form>